<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}
        <h5 class="text-center">Set password</h5>
        <form action="/auth/password" method="POST" class="col s12">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
            <div class="input-field">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">New password</label>
                <span class="helper-text" data-error="Enter password"></span>
            </div>
            <button class="btn btn-primary" type="submit">Update password</button>
        </form>
    </div>
</div>
